body,
html {
    box-sizing: border-box;
    background-color: #CBCBCC;

}


#test, #test1, #test2, #test3, #test4, #test5 {  
    position: relative;
    top: 30px;
    left: 200px;
    margin: 10px;
    padding: 20px;
    color: red;
    background-color: lightblue;
    width:25%;
    border-radius: 50px;
    font-size: 30px;
    text-align: center;
}

#submit1 {
     
    position: relative;
    left: 16em;

    margin: 10px;
    margin-left: 50px;
    margin-top: 40px;
    
    padding: 30px;
   font-size: 30px;
     color: red;
     background-color: lightblue;
     border-radius: 50px;
     
}


#submit2 {
    position: relative;
    left: 17em;
    top: 1em;
    margin: 15px;
    font-size: 30px;
    margin-left: 20px;
    padding: 35px;
    color: red;
background-color: lightblue;
border-radius: 50px;



}
#submit3 {
    position: relative;
    left: 12em;
    
    margin-top: 35px;
    margin: 55px;

    padding: 30px;
    font-size: 40px;
    color: red;
background-color: lightblue;
border-radius: 50px;
}
